body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e2eafc;
    color: #22333b;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #d4e0fa;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-el {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: black;
    color: #C95355;
    font-size: 70px;
    border-radius: 10px;
}

.btn {
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    background: #d4e0fa;    
    font-weight: bold;  
    cursor: pointer;
}

.btn:hover {
    background: #c2d5fe;
}

.reset-btn {   
    margin-top: 10px;
    font-size: 10px;
}

.btn-box {
    margin-top: 20px;
}